# be sure to add data.json for plugins that contain API keys
.obsidian/plugins/image2latex/data.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json

.obsidian/plugins/obsidian-completr/scanned_words.txt
.obsidian/plugins/obsidian-dictionary-plugin/cache.json

Islam/Courses/Finance (بالبركة والقلم)/*
Islam/Courses/Form of Ramadan (فورمة رمضان)/*
Islam/Courses/Forqan Academy (أكادمية الفرقان)/*
Islam/Courses/Self Restart (إعادة تشغيل الذات)/*
Islam/Courses/Helper (معين)/*
Islam/Books/Addiction Books/Revival*

Secrets/*
Tasks/*
Islam/Books/Miscellaneous and Personal Books/*
